---
import '../styles/global.css';
// Component Imports
import Layout from '../layouts/Layout.astro';
import Header from 'components-astro/Header.astro';
import Information from 'components-astro/Information.astro';
import Footer from 'components-astro/Footer';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout title="Invitación">
	<Header/>
	<Information/>
	<div id="galery" class="w-full flex justify-center mb-4">
		<Footer client:load/>
	</div>
</Layout>
